  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname">
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Birthdate</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthdate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- <mat-form-field class="example-form-field"> -->
    <ngx-recaptcha2 #captchaElem
    [siteKey]="siteKey"
    formControlName="recaptcha"  class="margin-submit">
  </ngx-recaptcha2>
<!-- </mat-form-field> -->

    <div class="margin-submit">
      <button  class="margin-submit" mat-raised-button type="submit" color="primary">Submit</button>

    </div>

  </form>
